# 这个文件需要链接或复制到`/etc/udev/rules.d/`文件夹下。
# 这个文件作用主要用于检测键盘的状态。

# /etc/udev/rules.d/zenbook-dev.rules

ACTION=="add", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1bf2"\
    RUN+="/home/jackal/Program/zenbook-duo-2025-linux/dev_trigger.sh off"

ACTION=="remove", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="1bf2"\
    RUN+="/home/jackal/Program/zenbook-duo-2025-linux/dev_trigger.sh on'"
