[Unit]
Description=Toggle Screen2
Wants=

[Service]
Type=oneshot
ExecStart=toggle_screen.sh %i
RemainAfterExit=yes

[Install]
WantedBy=default.target
